<div class="row">
  <div class="columns small-12">
    <%= simple_form_for [@post, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
