<div class="row">
  <div class="columns small-12">
    <% @posts.each do |p| %>
      <%= link_to post_path(p)  do %>
        <div class="panel">
          <h3><%= emojify(p.subject) %></h3>
          <% if p.blog_image %>
            <%= image_tag p.blog_image_url, class: "img" %>
          <% end %>
          <% if p.instagram_link.length > 0 %>
            <%= render html: (Instagram.oembed(p.instagram_link).html).html_safe %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>
  </div>
</div>
