<div class="row">
  <div class="columns small-12">
    <%= render @post %>
    <% @post.comments.each do |c| %>
      <div class="callout panel">
        <p><%= emojify(c.content) %></p>
        - <%= c.user.email %>
        <% if current_user && c.user == current_user %>
          | <%= link_to "Edit Comment", edit_post_comment_path(@post, c) %>
          | <%= link_to "Delete Comment", post_comment_path(@post, c), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
