<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Blog</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% if is_nicole? %>
            <li><%= link_to 'New Post', new_post_path %></li>
            <% if !session[:access_token] %>
              <li><%= link_to 'InstaSignIn', insta_sessions_connect_path %></li>
            <% end %>
          <% end %>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
        <li><%= link_to 'About Me', static_about_nicole_path %></li>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <% if key == "notice" %>
    <div class="alert-box success" data-alert>
      <%= value %>
    </div>
    <% else %>
    <div class="alert-box alert" data-alert>
      <%= value %>
    </div>
    <% end %>
  <%- end -%>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
